/server/node_modules
/server/docker-compose.yml
/server/dockerfile
/front/myvenv
/front/myvenv/
/front/README.md
/front/Plain/Plain/__pycache__
/front/Plain/Melody/__pycache__
/front/Plain/Melody/migrations
/front/Plain/accounts/__pycache__
/front/Plain/accounts/migrations
/front/Plain/db.sqlite3
/front/Plain/migrations
/front/Plain/media
/front/Plain/Comments/__pycache__
/front/Plain/Comments/migrations
/front/Plain/Profile/migrations
/front/Plain/Profile/__pycache__
/front/.DS_Store
/.DS_Store
/server/uploads
